/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Pontano Sans', Arial, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Nueva pagina de inicio*/
.marketing{
  margin-top: 40px;
}
.carousel-pral{
height: 100%;
margin-bottom: 0px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.featurette-heading {
  margin-top: 45px;
  font-size: 50px;
}
.mini-slides{
  padding: 40px;
}
.aula{
  margin-top: 18px !important;
}
/*Fin*/
.floatright{
  float: right;
  display: inline-block;
}
.rojo:hover{
  text-decoration: underline;
  color: rgb(230,0,0);
}
.redes span{
    width: 40px;
    height: 40px;
    background-image: url('../img/social/social.png');
    display: inline-block;
}
.twitter-follow-button{
  background: none;
}
.redes{
      margin-top: 7px;
      float: right;
}
#twitter{
  background-position: 0 120px;
}
#google{
  background-position: 0 40px;
}
#facebook{
  background-position: 0 80px;
}
.twitter{
    background-image: url('http://andreasstorm.com/lib/twitter.gif');
    background-position: top left;
    height: 21px;
    width: 30px;
    display: block;
    margin-top: 12.7px;
}
.twitter:hover{
  background-position: bottom left;
}
header{
}
.centrar{
    padding-top: 20px;
}
.centrar-margin{
    margin: 0px auto; 
}
.adaptar{
    width: 100%;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.teorico{
    border: 0;
    height: 780px;
}
.title{
    border: 5px solid #ddd; 
        background-color: rgba(0,0,0,0.1);
}
h5{
  display: inline-block;
}
li.alumnos{
  display: none;
}
.serv h3{
    margin-right: 30px;
    display: inline-block;
    background-color: #ddd;
}
.selected-responsive{
  color: rgb(230,0,0);
}
img.administracion{
  width: 160px;
  height: 160px;
  cursor: pointer;
  padding: 20px;
  border-radius: 40px;
}
img.administracion:hover{
  background-color: #ddd;
  border-radius: 40px;
}
.alta{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px auto;
  z-index: 995;
}
.fondonegro{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  z-index: 990;
}
.cont-iframe{
  width: 370px;
  height: 0px;
  margin-top: 500px;
  margin: 0px auto;
  background-color: silver;
  z-index: 999;
}
.datos-alumnos{
  padding: 8px;
  border: 1px solid #fff; 
}
.datos-alumnos:hover{
  cursor: pointer;
  border: 1px solid rgb(230,0,0);
}
.datos-usuarios{
  padding: 10px;
  background-color: #e7e7e7;
  color: #333;
  display: none;
}
.rojo{
  color: rgb(230,0,0);
}
.verde{
  color: rgb(0,230,0);
}
.equis{
  margin-top: 20px;
  padding: 10px;
  z-index: 999;
  background-color: #fff;
  text-align: right;
  display: block;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(230,0,0);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
footer{
    background-color: rgb(230,0,0);
    color: #fff;
    padding: 1em 2em;
    box-sizing: border-box;
    font-size: 0.9em;
}
.margen-inf p {
  margin-top: 20px;
  font-size: 1em;
}
#contacto{
  text-align: center;
}
#form{
  border-bottom: 1px solid #999; 
}
nav ul li.logout{
  border:none;
  float: right;
  z-index: 100;
}
nav ul li.logout:hover{
      -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    border: none;
}
.c-img{
  background: url(../img/whatsapp.png) no-repeat 12.6em;
}
#contacto p:first-child{
    font-size: 1.5em;
  text-align: center;
}
.flecha{
  font-size: 3em !important;
}
footer a{
    color: #fff;
    text-decoration: underline;
    margin-left: 10px;
}
label{
  font-weight: normal;
}
.color-rojo{
  color: rgb(230,0,0);
  font-weight: bold;
}
footer a:hover{
    color: #ddd;
}
.element-animation{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
}

@keyframes animationFrames{
  0% {
    left:254px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:2px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:254px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:2px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:254px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:2px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:254px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:2px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:254px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:2px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}
@media (min-width: 768px){
div.alumnos{
  position: fixed;
  background-color: rgb(230,0,0);
  width: 50px;
  height: 50px;
  right: 0;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 4px;
  border-bottom-top-radius: 4px;
  z-index: 9999;
  float: right;
  padding: 0px 0px 0px 0px;
  color: #e7e7e7;
}
.navbar-brand{
    display: none !important;
}
.navbar-collapse{
    padding-left: 0 !important;
}
nav ul li{
    float: left;
    margin-left: 1.5em;
    display: block;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    
    overflow:hidden;
    z-index: 9999;

}
nav ul li:hover{
    border-top: 4px solid rgb(230,0,0);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
}
nav ul li.selected{
    border-top: 4px solid rgb(230,0,0);
}
nav ul li a{
    font-size: 16px;
    color: rgb(230,0,0);
    text-decoration: none;
}
.carousel-h30{
  height: 25em !important;
}
.carousel-h30 img{
  margin-top: -245px;
}
}
.glyphicon{
  font-size: 1.5em;
}
.publicidad{
  background-color: #e7e7e7;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  font-size: 1.5em;
}
.publicidad .dos{
  margin-top: 110px;
}
.publicidad .tres{
  margin-top: 70px;
}
.publicidad img{
  width: 50%;
  height: 50%;
  border: 1px solid white;
}
.publicidad .oferta{
  opacity: 0.5;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}