body{
	font-family: 'Pontano Sans', Arial, sans-serif;
	color: #666;
}
form{
	padding: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: inline-block;
	background-color: #fff;
}
label{
	display: inline-block;
	width: 200px;
}
h1 img{
	width: 359px;
	height: 80px;
}
input{
	outline-color: rgb(230,0,0);
}
input[type="submit"]{
	margin-top: 20px;
	padding: 1px 6px;
	width: 100px;
	height: 30px;
	color: #fff;
	background-color: rgb(230,0,0);
	font-weight: bold;
	border: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}
input[type="submit"]:active{
	font-size: 20px;
}
.login{
   padding:20px;
   display:block;
   width: 250px;
   margin: 0 auto;
   text-align:left;
}
tr{
margin-top: 30px !important;
}
.element-animation h1>img{
	width: 300px;
	height: 80px;
}